* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.card {
  width: 50%;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  position: relative;
}
.bg {
  width: 100%;
  height: 100px;
  border-radius: 10px;
}
.bg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.person {
  width: 100px;
  height: 100px;
  padding: 2px;
  background: white;
  border: 2px solid rgba(0, 0, 255, 0.718);
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.person > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: bottom;
}
.name {
  margin-top: 70px;
  text-align: center;
  font-weight: 700;
  font-size: 1.4rem;
  color: #000000a3;
}
.desc {
  text-align: center;
  margin-top: 8px;
  font-size: 0.9rem;
}
button {
  all: unset;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 8px;
  color: rgb(7, 118, 118);
  font-weight: 800;
  cursor: pointer;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    margin: 25px 0;
}
.icons>span{
    padding: 2px 4px;
    border-radius: 10px;
    width: 50px;
    text-align: center;
}
.icons span:nth-child(1){
    background: rgb(150, 15, 15);
    color: white;
}
.icons span:nth-child(2){
    background: rgb(70, 91, 3);
    color: white;
}
.icons span:nth-child(3){
    background: rgb(150, 15, 15);
    color: white;
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
.footer-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.item-desc{
    color:#000000a3;
    font-weight: 500;
}
.item-num{
    font-weight: 600;
    color: rgba(0, 0, 0, 0.721);
}
hr{
    margin: 1px 0;
    border: none;
    height: 1px;
    background: #00000032;
}


@media  screen and (min-width:768px) {
    .card{
        width: 20%;
    }
}